body{
    background-color: rgb(55, 220, 241);
    font: normal 25pt times;
}
header{
    color: rgb(229, 240, 169);
    text-align: center;
}

section{
    background: rgba(255, 255, 255, 0.836);
    border-radius: 18px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px black;
}
img{
    width: 350px;
    height: 350px;
    border-radius: 1000px;
    margin-top: 20px;
    
}
footer{
    color: rgba(255, 255, 255, 0.705);
    text-align: center;
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: underline;
}
